.addEMP-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addEMPform{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    border: 1px solid white;
    padding: 5px;
    margin: 30px 10px 0 0;
    border-radius: 5px;
    
}
.addEMPTitle{
    text-align: center;
    padding: 20px;
    color:brown;
}
.addEMPitems{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 80px;
    margin: 10px 40px;
    /* margin: 5px; */
}
.addItemLabel{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
}
.addItemInput{
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.submit{
    border: none;
    outline: none;
    width: 120px;
    height: 30px;
    padding: 5px;
    color: white;
    background-color: darkblue;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 285px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}